<!--
  Generated template for the CursoShowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{curso.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-slides pager>

    <ion-slide style="background-color: white">
      <img src="../../assets/imgs/cursos/reloj.png" class="center"/>
      <h2><strong>¿Cuántas Horas?</strong></h2>
      <p>
          {{curso.duracion}}
      </p>
    </ion-slide>
  
    <ion-slide style="background-color: white">
      <img src="../../assets/imgs/cursos/certificacion.png" class="center"/>
      <h2>¿Certificación?</h2>
      <p>
          {{curso.certificacion}}
      </p>
    </ion-slide>
  
    <ion-slide style="background-color: white">
      <img src="../../assets/imgs/cursos/simuladores.png" class="center"/>
      <h2>¿Simuladores?</h2>
      <p>
          {{curso.simuladores}}
      </p>
    </ion-slide>

    <ion-slide style="background-color: white">
      <img src="../../assets/imgs/cursos/modalidad.png" class="center"/>
      <h2>¿Modalidad?</h2>
      <p>
          {{curso.modalidad}}
      </p>
    </ion-slide>
  
  </ion-slides>
</ion-content>
