<!--
  Generated template for the NosotrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Nosotros</ion-title>
    </ion-navbar>
  </ion-header>

<page-fabs></page-fabs>

<ion-content padding>



    <ion-card>
      <img src="../../assets/imgs/logo-nova-grande.png"/>
      <ion-card-content>
        <ion-card-title>
            Quienes Somos
        </ion-card-title>
        <p>
            Somos una empresa líder en Capacitación, Consultoría y Desarrollo en nuevas tendencias web, caracterizada por la innovación constante, y la calidad de nuestros servicios. 
        </p>
        <p>
            Nuestro proyecto nace como respuesta a la creciente demanda en temas de capacitación, consultoría y desarrollo y la insatisfacción que ha suscitado la formación en ambientes virtuales, los pobres diseños/desarrollos web y las inestables plataformas, por eso nuestro propósito se basa en brindar soluciones eficientes y de calidad que estén a la vanguardia con las exigencias del mercado
        </p>
      </ion-card-content>
    </ion-card>


    
    <ion-card>
        
      <ion-card-content>
        <ion-card-title>
            ¿Como lo hacemos?
        </ion-card-title>

        <ion-slides pager>

            <ion-slide style="background-color: white">
              <img src="../../assets/imgs/nosotros/primera.png" class="center"/>
              <p>
                  Conocer las necesidades de nuestro clientes y propósitos

              </p>
            </ion-slide>
          
            <ion-slide style="background-color: white">
              <img src="../../assets/imgs/nosotros/segunda.png" class="center"/>
              <p>
                  Aclara las ideas de nuestros clientes para que se a un trabajo en equipo

              </p>
            </ion-slide>
          
            <ion-slide style="background-color: white">
              <img src="../../assets/imgs/nosotros/tercera.png" class="center"/>
              <p>
                Desarrollamos los proyectos estipulados con nuestros clientes con la mas alta calidad y con el mejor equipo de trabajo que es NovaPixel

              </p>
            </ion-slide>
            <ion-slide style="background-color: white">
              <img src="../../assets/imgs/nosotros/cuarta.png" class="center"/>
              <p>
                  Realizamos muestras de como vamos con los proyectos

              </p>
            </ion-slide>
            
            <ion-slide style="background-color: white">
              <img src="../../assets/imgs/nosotros/quinta.png" class="center"/>
              <p>
                 Por ultimo la muestra final y entrega de proyecto

              </p>
            </ion-slide>
            
          </ion-slides>
        
  
      </ion-card-content>
    </ion-card>

</ion-content>
