<!-- Boton flotante para las redes sociales -->
<ion-content>
    <!-- Real floating action button, fixed. It will not scroll with the content -->
    <ion-fab bottom right>
      <button ion-fab mini><ion-icon name="add"></ion-icon></button>
      <ion-fab-list side="top">
        <a ion-fab href="https://www.facebook.com/novapixel.com.co/"><ion-icon name="logo-facebook"></ion-icon></a>
        <a ion-fab href="https://twitter.com/NovaPixel"><ion-icon name="logo-twitter"></ion-icon></a>
        <a ion-fab href="https://www.linkedin.com/in/novapixel-innovacion-online-95bb1593/"><ion-icon name="logo-linkedin"></ion-icon></a>
        <a ion-fab href="https://api.whatsapp.com/send?phone=573113415447&text=&source=&data="><ion-icon name="logo-whatsapp"></ion-icon></a>
      </ion-fab-list>
    </ion-fab>
</ion-content>