<!--
  Generated template for the TeamNovapixelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nuestro Equipo</ion-title>
  </ion-navbar>
</ion-header>

<page-fabs></page-fabs>

<ion-content padding>

  <ion-list  *ngFor="let departamento of departamentos">
      <ion-list-header>
          {{ departamento.nombre }}
        </ion-list-header>
     <ion-item-sliding  *ngFor="let equipo of departamento.team">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="equipo.imagen">
        </ion-avatar>
        <h2>{{equipo.nombre}}</h2>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="{{departamento.color}}">
          <ion-icon name="{{departamento.icon}}"></ion-icon>
          {{equipo.cargo}}
        </button>
       </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
