<!--
  Generated template for the CursosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cursos</ion-title>
  </ion-navbar>

</ion-header>

<page-fabs></page-fabs>

<ion-content padding>
  <ion-card (click)="showCurso(i)" *ngFor="let curso of cursos; let i=index">
    <img [src]="curso.imagen"/>
    <ion-card-content>
      <ion-card-title>
        {{ curso.nombre }}
      </ion-card-title>
      <p>
        {{ curso.descripcion }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
