<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<page-fabs></page-fabs>

<ion-content padding>
  
  
    <ion-slides pager>

        <ion-slide style="background-color: white">
          <img src="../assets/imgs/logo-nova-grande.png" class="center"/>
        </ion-slide>
    
        <ion-slide (click)="openPage(nosotros)" style="background-color: white">
          <img src="../assets/imgs/home/nosotros.png" class="center"/>
        </ion-slide>
    
        <ion-slide (click)="openPage(cursos)" style="background-color: white">
          <img src="../assets/imgs/home/cursos.png" class="center"/>
        </ion-slide>
    
        <ion-slide (click)="openPage(servicios)" style="background-color: white">
          <img src="../assets/imgs/home/servicios.png" class="center"/>
        </ion-slide>
        
        <ion-slide (click)="openPage(casos)" style="background-color: white">
          <img src="../assets/imgs/home/casoDeExito.png" class="center"/>
        </ion-slide>
    
        <ion-slide (click)="openPage(team)" style="background-color: white">
          <img src="../assets/imgs/home/nuestroEquipo.png" class="center"/>
        </ion-slide>
    
      </ion-slides>
</ion-content>
