<!--
  Generated template for the ShowServicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{servicio.titulo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-slides pager>

      <ion-slide *ngFor="let receta of servicio.recetas; let i=index" style="background-color: white">
        <img [src]="receta.imagen" class="center"/>
        <h2><strong>{{receta.titulo}}</strong></h2>
        <p>
            {{receta.descripcion}}
        </p>
      </ion-slide>
    
    </ion-slides>

</ion-content>
