<!--
  Generated template for the CasosShowPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{caso.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
              <img [src]="caso.imagen">
            </ion-avatar>
            <h2>{{caso.nombre}}</h2>
            <p>{{caso.fecha}}</p>
          </ion-item> 

      <ion-card-content>
          {{caso.descripcion}}
      </ion-card-content>

      <ion-row>
          <ion-col>
            <button ion-button icon-start clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{caso.trabajo}}</div>
            </button>
          </ion-col>
        </ion-row>
    </ion-card>



</ion-content>
