<!--
  Generated template for the CasoExitoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Casos de Exito</ion-title>
    </ion-navbar>
  </ion-header>

<page-fabs></page-fabs>

<ion-content padding>
  <ion-card (click)="showCaso(i)"  *ngFor="let caso of casos; let i=index">
      <img [src]="caso.imagen"/>
  </ion-card>
</ion-content>
