<!--
  Generated template for the ServiciosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Servicios</ion-title>
  </ion-navbar>
</ion-header>


<page-fabs></page-fabs>

<ion-content padding>
    <ion-card (click)="showServicio(i)"  *ngFor="let servicio of servicios; let i=index">
      <img [src]="servicio.imagen"/>
      <ion-card-content>
        <ion-card-title>
          {{ servicio.titulo }}
        </ion-card-title>
        <p>
          {{ servicio.descripcion }}
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
